@model IEnumerable<SimpleDoctor.Models.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Doktor Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Uzmanlık Alanı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Specialty</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table> 