@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz SimpleDoctor</h1>
    <p class="lead">Doktor randevu sistemi.</p>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Başlayın</h5>
                    <p class="card-text">Doktorlarımızı inceleyin ve randevu alın.</p>
                    <a href="/Doctor" class="btn btn-primary">Doktorları görüntüleyin</a>
                </div>
            </div>
        </div>
    </div>
</div>
